# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
Thumbs.db
analyze_output.txt

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
.history/

# Flutter/Dart related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android related
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/app/src/main/res/raw/google_services.json
**/android/app/google-services.json
**/android/key.properties
*.jks
*.keystore

# iOS related
**/ios/Runner/GoogleService-Info.plist
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json

# Web related
**/web/stack.trace

# Windows related
**/windows/flutter/ephemeral/

# macOS related
**/macos/Flutter/ephemeral/

# Linux related
**/linux/flutter/ephemeral/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Firebase/Functions related
functions/node_modules/
functions/.env
functions/.runtimeconfig.json
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
database-debug.log

# Environment variables
.env
.env.*
